# Python
__pycache__/
*.py[cod]
*$py.class

# Build & packaging
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/
share/python-wheels/

# Logs
*.log
logs/

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
media/
staticfiles/
static_root/
local_settings.py
settings_local.py

# Databases (dev)
*.sqlite3
*.db

# Coverage & test artifacts
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs & editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Temporary & backup files
*.bak
*.swp
*.tmp
*.temp
*~
